{% extends 'users/base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <h3 class="text-center font-weight-light my-4">Поздравляем!</>
        <br>
        <h4>Пользователь {{ user.username }} подтвержден.</h4>
    {% else %}
        <h3 class="text-center font-weight-light my-4">Верификация не пройдена</>
    {% endif %}
    <br>
    <button class="btn btn-round form-control">
        <a href="{% url 'index' %}" class=""> на главную</a>
    </button>

{% endblock %}